<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>InventoryTracker</title>
        <link rel="stylesheet" href="../files/css/style.css">
    </head>
    <body>
    <header>
        <div class="container">
            <div class="text-center head">  
                <a href="/" class="nav-brand white-text">Inventory Tracker</a>
            </div>
        </div>
    </header>
    <main id="homepage">
        <div class="container">
            <div class="box-nav d-flex justify-between">
                <a href="/add-item" class="border-shadow">
                    <span class="text-gradient">New Item<i class="fas fa-user"></i></span>
                </a> 
            </div>
            <form method="POST" id="add-item">
                
            </form>
        </div>
    </main>
</body>
</html>