<%- include('helpers/_header.ejs') %> 
    <!-- <form class="" action="/" method="post">
        <input type="text" name="newItem">
        <button type="submit" name="button"></button>
    </form>

    <form method="post" enctype="multipart/form-data" action="/public/uploads">
        <input type="file" name="uploaded_file">
        <input type="submit" value="Submit">
    </form> -->
 <%- include('helpers/_footer.ejs') %> 
