<%- include('helpers/_header.ejs') %> 

<!-- main -->
<main id="homepage">
    <div class="container">
        <div class="box-nav d-flex justify-between">
            <a href="/" class="border-shadow">
                <span class="text-gradient">Back<i class="fas fa-user"></i></span>
            </a> 
        </div>
        <div class="form-title text-center">
            <h2>To Edit an item</h2>
            <h3>fill the form below</h3>
        </div>
        <%- include('helpers/_forms.ejs') %> 
        
    </div>
</main>

<%- include('helpers/_footer.ejs') %> 
