<tr>
    <td>Apple</td>
    <td>43</td>
    <td>none</td>
    <td>
        <a href="/edit-item" class="button border-shadow update">
            <span class="text-gradient">Edit</span>
        </a>
        <a class="button border-shadow update">
            <span class="text-gradient">Delete</span>
        </a>
    </td>
</tr>